<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<mapper namespace="io.github.shuoros.jep.infrastructure.db.mybatis.CheckinMapper">
    <select id="findByUserId" resultType="io.github.shuoros.jep.domain.model.Checkin">
        SELECT id, user_id AS userId, spot_id AS spotId, checkin_time AS checkinTime
        FROM check_ins
        WHERE user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO check_ins (user_id, spot_id, checkin_time)
        VALUES (#{userId}, #{spotId}, #{checkinTime})
    </insert>
</mapper>
