<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kingofadachi.infrastructure.db.mybatis.UserMapper">
    <select id="findById" resultType="com.example.kingofadachi.domain.model.User">
        SELECT id, username FROM users WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username) VALUES (#{username})
    </insert>
</mapper>
